# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/Database Consoles/
/IDE Consoles/

# pycharm
.idea

# python
.venv
__pycache__
*.ini
*.env

# allure
allure-results
allure-report

# testing artifacts
*.html
*.json
videos
tracing
*.xml
*.iml
__init__.py

# Дополнения для Python
*.log
*.sqlite3
*.db

# Дополнения для тестов и кэша
.pytest_cache/
.coverage

# Системные файлы
.DS_Store (Mac)
Thumbs.db (Windows)

# coverage
coverage.html
coverage-results
coverage-report.json
coverage-history.json

.DS_Store